

/*    project 页面      */


#project_carousel{
	height:310px; 
	line-height:42px; 
	background:#f1f1f1; 
	margin-bottom:10px; 
	font-size:12px; 
	color:#666; 
	font-weight:normal;
}

#myFocus{ 
	width:560px; 
	height:300px;
	margin: 0px auto;
}

.project_blank{
	width: 0px;
	border-right: 2px;
}

.project_col{
	border-radius:20px; 
	background-color:rgb(245,245,245);
	padding:20px;
	margin-bottom:15px;
}

.project_icon{
	border-radius:20px; 
	background-color:rgb(245,245,245);
	padding-left: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 50px;
}



/*    cloudcarousel      */




